.table {
  border: 8px solid var(--marronRouge) !important;
  background-color: var(--creme) !important;
}

.thTable {
  color: var(--marronRouge) !important;
  background-color: var(--creme) !important;
}
.tdTable {
  background-color: var(--creme) !important;
  color: var(--marronRouge) !important;
}
.tdActions {
  background-color: var(--creme) !important;
}

.dashboardHeader {
  display: flex;
  border-left: 4px var(--jaune) solid !important;
  margin-left: 3rem;
}

.detailProduitImg {
  justify-self: center !important;
  display: flex;
}

@media (max-width: 768px) {
  .dashboardHeader {
    padding: 0rem !important;
    flex-wrap: wrap;
justify-items: left;  }
}
