.table {
  border:  8px  solid var(--marronRouge) !important;
  background-color: var(--creme) !important;
  
}

.thTable {
  color: var(--marronRouge) !important;
  background-color: var(--creme) !important;
 
}
.tdTable {
    background-color: var(--creme) !important;
    color: var(--marronRouge) !important;

}
.tdActions {

    background-color: var(--creme) !important;

}


.dashboardHeader{
  display: flex;
   border-left: 4px var(--jaune) solid !important;
   margin-left:3rem;
   margin-top: 2rem;
   padding-left: 1rem;
   
}


.detailProduitImg{
  justify-self: center !important;
  display: flex;
}