  /* * {overflow: visible !important;} */

 @font-face {
  font-family: "test";
  src: url(../src/assets/fonts/Delight/OpenType-PS/Delight-Bold.otf);
} 

/* 
 @font-face {
  font-family: "test";
  src: url(../src/assets/fonts/DominiqueRegularTrial/OpenType-PS/Dominique-Regular.otf);
}  */

@font-face {
  font-family: "varsity";
  src: url(../src/assets/fonts/varsity_team/VarsityTeam-Bold.otf);
}

@font-face {
  font-family: "kaftus";
  src: url(../src/assets/fonts/kaftus/Kaftus.ttf);
}

@font-face {
  font-family: "horizon";
  src: url(../src/assets/fonts/Horizon_Regular.otf);
}

@media screen and (min-width: 1140px) {
  :root {
    --fluid-screen: calc(var(--fluid-max-width) * 1px);
  }
}

html,
body {
  font-family: "test" !important;
    width: 100% !important;
  max-width: 100% !important;
  font-size: 1rem;
  word-spacing: 5px;
  background-color: var(--creme) !important;
  color: var(--marronRouge) !important;
  padding: 0 !important;
   overflow-x: hidden !important; 
 /* line-height: 200%; */
 
  
}

:root {
  --marronRouge: #73090b; /* #880a0cff; */
  --marronFroid: #833f3fff;
  --marronFonce: #5a1304ff;
  --marronClair: #6c3619;
  --marron: #976658ff;
  --rouge: #9f1619;
  --jaune: rgb(222, 146, 23);
  --creme: #fefaef;
  --caramel: #bd5505ff;
}

/* body.brown {
  background-color:var(--marronFonce) !important;
  color: var(--creme) !important;
}
body.creme {
  background-color: var(--creme) !important;
  color: var(--marronRouge) !important;
} */

/* #root {

} */

:root a {
  color: var(--marronRouge);
  text-decoration: none;
}
a:hover {
  color: var(--jaune) !important;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show,
.dropdown-item {
  color: var(--jaune);
}

.dropdown-item.active,
.dropdown-item:active {
  color: var(--jaune) !important;
  background-color: var(--creme) !important;
}


p{
  font-size: 1.5rem !important;
  font-weight: 600 !important;
}

h1{
  font-size: 8rem !important;
}


/* FORMAT DESKTOP */

/* @media (min-width: 1024px)  */
/* MON HEADER  ET TITRE*/
