/* .sidenav {
  width: 15rem;
  height:50rem;
  position: absolute;
  padding: 2rem;
  background-color: black;
  transition: all 1s;
}
.sidenav-active {
left: 10rem;
}
.sidenavUl{
  padding: 0;
}

.sidenavLink{
  display: block;
  padding-bottom: 2rem;
} */