.titleHome{
  margin: 3rem;
}

.imageHome {
  display: flex;
  position: static;
  padding-top: 0rem;
}

.imagesHome {
  flex: 1;
  width: 20% !important;
}

.defilantContainer {
  width: 100%;
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
  overflow: hidden;
  white-space: nowrap;
  animation: scroll-left 35s linear infinite;
}

.phraseDefilante {
  /* fontSize: isMobile ? "1rem" : "1.7rem", */
  margin: 5rem ;
  white-space: nowrap;
  display: inline-block;
  
}

@keyframes scroll-left {
  from {
    transform: translateX(50%);
  }
  to {
    transform: translateX(-100%);
  }
}

/* SECTION CATEGORIE */

.homeCategorieProduit {
  background-color: var(--marronRouge);
  /*  height: 33rem; */
  flex-wrap: nowrap;
  gap: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  justify-content: center;
  align-items: center;
}

.phraseCategorie {
  color: #f5edd7;
  /* width: 40%; */
  font-size: 3rem;
  text-shadow: 0 0 5px var(--marronRouge);
  line-height: 150%;
  
}

.sectionCategorie {
  color: #f5edd7;
  text-shadow: 0 0 5px rgb(60, 36, 36);
  border: var(--jaune), 3px, solid;
  border-radius: 2%;
  height: 29rem;
  font-size: 3rem;
  padding-top: 3rem;
}

.categorieUne {
  background-image: url(https://plus.unsplash.com/premium_photo-1725384940713-45cdbbb49d94?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: 54rem;
  background-repeat: no-repeat;
  background-position: 70%;
  display: flex;
  flex-direction: column;
}
.categorieDeux {
  background-image: url(https://togetherasfamily.com/wp-content/uploads/2024/01/brookies-vertical-2.jpg);
  background-size: 29rem;
  background-position: 40%;
  display: flex;
  flex-direction: column;
}

.btnCommander {
  margin-top: 12rem;
  font-size: 1rem;
  bottom: 30px;
  padding: 10px;
  background-color: var(--marronRouge);
  color: var(--creme);
  border: 3px var(--marronRouge) solid;
  box-shadow: 0 0 10px black;
  border-radius: 2%;
}

/* SECTION RECETTE */

.homeRecipes {
  height: 34rem;
  padding-top: 2rem;
  margin-bottom: 4rem;
  justify-content: center;
  position: relative;
}

.homeRecipesTitle {
  /* color: " #7a2223ff", */
  font-size: 5rem;
  color: var(--marronRouge);
}

.recetteHome {
  height: 22rem;
  /* width: 42rem; */
  border: 5px var(--caramel) solid;
  display: flex;
  justify-content: center;
  align-self: center;
}

.moitieeBrookie {
  position: absolute;
  width: 600px !important;
  height:650px;
  top: 2rem;
  left: -19rem;
  overflow: "hidden";
}

.btnRecette {
  height: 2em;
  margin-bottom: 1em;
  font-size: 1em;
  color: var(--creme);
  border: 3px #976658ff solid;
  background-color: #7a2223ff;
  border-radius: 2%;
  align-self: flex-end;
  position: absolute;
}

/* SECTION JAUNE */
.containerJaune {
  height: 28rem;
  background-color: var(--jaune);
  align-content: center;
}

.jauneP {
  font-size: 4.5rem;
  color: var(--marronRouge);
  width: 70%;
  padding-left: 3rem;
  text-align: left;
  line-height: 79px;
  position: relative;
}

.accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 2rem !important;
  color: #880a0c !important;
  text-align: left;
  background-color: #de9217 !important;
  overflow-anchor: none;
  transition: 1s;
}

.accordion-item {
  padding-left: 2rem;
  text-align: left;

  color: var(--marronFonce) !important;
  background-color: var(--jaune) !important;
  border: var(--bs-accordion-border-width) solid
    var(--bs-accordion-border-color);
}

.test{
  position: absolute;
  width: 14rem;
  height: 13rem;
  overflow: hidden;
  margin-left: 25.5rem;
}
/* SECTION PRODUIT */

.homeProduit {
  height: 33rem;
  padding: 2rem;
  margin-bottom: 7rem;
  position: relative;
}

.homeProduitTitle {
  justify-self: center;
  font-size: 5rem;
  word-spacing: 0.5rem;
  position: absolute;
}

.carousel-inner {
  margin-left: 3rem;
  width: 70rem;
}
.d-flex {
  gap: 3rem;
  margin-right: 9rem;
  margin-top: 10rem;
}
.produitCard {
  border-radius: 8px;
  width: 14rem;
  height: 20rem;
  text-align: center;
  box-shadow: 0 0 5px var(--marronRouge);
  border: 3px solid var(--caramel) !important;
  background-color: var(--creme);
  font-size: 1.3rem;
}

.produitCardBtn {
  font-size: 1rem;
  width: 4rem;
  color: var(--jaune);
  border: #bd5505ff 2px solid;
  background-color: var(--creme);
}

/* SECTION CONTACT  */

.contactHome {
  /* height: 32rem; */
  background-color: #5f0406;
  /* margin-top: 3rem;
  margin-bottom: 6rem; */
  /* justify-items: center; */
  position: relative;
}

.homeContactTitle {
  font-size: 4.5rem;
  color: var(--creme);
  margin-top: 4rem;
}
/* .form-control:focus{
  color: var(--jaune) !important;
  border-color: var(--jaune) !important;
  box-shadow: #de9217 !important;
} */

@media (max-width: 425px) {
  .homeContactTitle {
    font-size: 3rem;
  }
}
.homeFormContact {
  display: flex;
  flex-direction: row-reverse;
}

@media (max-width: 800px) {
  .homeFormContact {
    display: flex;
    flex-direction: column;
  }
}
/* alert */

.email,
.message {
  font-size: 2rem !important;
  color: var(--creme) !important;
    margin-bottom: 1rem;

}

.messageInput {
  height: 6rem !important;
  color: var(--marronRouge) !important;
  background-color: var(--creme) !important;
  font-size: 1.2rem !important;
  margin-bottom: 2rem;
}
.emailInput {
  height: 3rem !important;
  color: var(--marronRouge) !important;
  background-color: var(--creme) !important;

  font-size: 1.2rem !important;
  margin-bottom: 2rem;
}

.homeBtnContact {
  height: 3rem;
  border: 2px #fefaef solid !important;
  color: var(--marronRouge) !important;
  background-color: var(--creme) !important;
  font-size: 1.6rem !important;
}

.btnBackToTop {
  position: fixed;
  bottom: 0rem;
  font-size: 1rem;
  width: 5rem;
  display: flex;
  justify-self: end;
  margin: 2rem;
  background-color: var(--marronRouge);
  color: var(--creme);
  border: 2px solid var(--marronFroid);
}

/* BAS DE PAGE */
.defilantTitle {
  width: 200rem;
  animation: scroll-left-2 35s linear infinite;
}

@keyframes scroll-left-2 {
  from {
    transform: translateX(1%);
  }
  to {
    transform: translateX(-50%);
  }
}

@media (max-width: 448px) {
  .titleHome {
    height: 2rem !important;
    margin-top: 0rem !important;
  }
  .phraseDefilante {
    font-size: 1rem;
      margin: 1rem ;

  }
  .phraseCategorie {
    font-size: 1.5rem;
  }
  .btnCommander {
    height: auto;
    font-size: 1rem !important;
    margin-top: 2rem !important;
    padding: 7px !important;
  }

  .categorieUne {
    height: 15rem;
    font-size: 2rem;
  }
  .categorieDeux {
    height: 15rem;
    font-size: 2rem;
  }

  .homeRecipes {
    margin-bottom: 1rem;
  }
  .homeRecipesTitle {
    font-size: 2rem !important;
  }
  .recetteHome {
    height: 15rem !important;
    margin-top: 2rem;
  }
  .moitieeBrookie {
    height: 20rem !important;
    left: -15rem !important;
  }
  .homeProduitTitle {
    padding-top: 5rem;
    font-size: 2rem !important;
  }
}

@media (min-width: 991px) and (max-width: 1211px) {
  .categorieUne {
    font-size: 3rem;
  }
  .categorieDeux {
    font-size: 3rem;
  }
}
