.titleHome {
  margin: 4rem;
  justify-self: center;
}

.imageHome {
  display: flex;
  position: static;
  padding-top: 0rem;
  cursor: pointer;
}

.imagesHome {
  flex: 1;
  width: 20% !important;
}

.defilantContainer {
  width: 100%;
  font-size: 1.2rem;
  margin: 5rem;
  overflow: hidden;
  white-space: nowrap;
  animation: scroll-left 35s linear infinite;
}

.phraseDefilante {
  /* fontSize: isMobile ? "1rem" : "1.7rem", */
  white-space: nowrap;
  display: inline-block;
}

@keyframes scroll-left {
  from {
    transform: translateX(60%);
  }
  to {
    transform: translateX(-80%);
  }
}

.homeSignaturePremium {
  height: 25rem;
  text-align: left;
  margin-bottom: 4rem;
  padding-left: 2rem;
  padding-right: 1rem;
  display: flex;
  align-items: center;
  color: var(--marronRouge);
}

.divHomeSignature {
  justify-self: left;
  width: 100%;
}

.homeSignaturePremium h1 {
  justify-self: left;
  font-size: 4.2rem !important;
}
.homeSignaturePremium p {
  font-size: clamp(2.2rem, 4vw, 3.8rem);
  justify-self: left;
}

.signatureValues {
  display: flex;
  justify-content: left;
  gap: 2.5rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  font-size: 1.1rem;
}

.btnSignature {
  background-color: transparent;
  border: 2px solid var(--creme);
  color: var(--marronRouge);
  padding: 1rem 3rem;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btnSignature:hover {
  transform: translateY(-3px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
}

/* SECTION CATEGORIE */

/* Contenu */
.homeCategorieProduit {
  justify-content: center;
  align-items: center;
  display: flex !important;
  position: relative;
  padding-top: 2rem;
  padding-bottom: 2rem;

  color: var(--creme) !important;
  background-color: var(--marronRouge);
  gap: 3rem;
}

/* Texte */
.phraseCategorie {
  font-size: 4rem;
  line-height: 1.2;
  text-align: center;
}

/* Cartes catégories */
.sectionCategorie {
  display: flex;

  flex-direction: column;
  justify-content: center; /* centre verticalement */
  align-items: center; /* centre horizontalement */
  text-align: center; /* texte centré */
  height: 25rem; /* assez haut pour le parallax */
  border-radius: 5%;
  will-change: background-position;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.sectionCategorie a {
  color: var(--creme);
}
@media (max-width: 768px) {
  .sectionCategorie {
    height: 25rem; /* plus petit sur mobile */
    width: 100% !important;
  }
  .homeCategorieProduit {
    flex-direction: column;
  }
}
.categorieUne {
  background-image: url(https://scientificallysweet.com/wp-content/uploads/2022/12/IMG_3394-feature.jpg);
  background-size: 15rem;
}

.categorieDeux {
  background-image: url(https://bakewithzoha.com/wp-content/uploads/2024/10/brown-butter-brookies-sliced-scaled.jpg);
  background-size: 15rem;
}
.sectionCategorie:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
}

.sectionCategorie h2 {
  font-size: 3rem;
}

.btnCommander {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 12px 28px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  justify-self: center;
  font-size: 1.3rem;
}

.btnCommander:hover {
  background: #fff;
  color: #541f1f;
}
/* SECTION RECETTE */

.sectionRecette {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 6rem 0 9rem 0;
  align-content: start;
  gap: 6rem;
}

.recetteTitle {
  margin-left: 4rem;
}
.sectionRecetteContent {
  /* border: 1px solid black; */
  display: flex;
  gap: 3rem;
  justify-items: center;
  margin-top: 5rem;
  text-align: center;
}

.btnRecette {
  background: transparent;
  border: none;
  color: var(--marronRouge);
  padding: 12px 28px;
  border-radius: 10px;
  cursor: pointer;
  justify-self: center;
  height: 4rem;
  font-size: 1.3rem;
  position: relative;
  display: inline-block;
}

.btnRecette::before,
.btnRecette::after {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  transition: transform 0.5s ease, opacity 0.5s ease;
  backface-visibility: hidden;
}

/* face avant */
.btnRecette::before {
  content: attr(data-front);
  background: var(--creme);
  color: var(--jaune);
  transform: rotateX(0deg);
  opacity: 1;
  border: var(--marronRouge) 2px solid;
}

/* face arrière */
.btnRecette::after {
  content: attr(data-back);
  background: var(--marronRouge);
  color: var(--creme);
  transform: rotateX(-90deg);
  opacity: 0;
}

/* hover flip */
.btnRecette:hover::before {
  transform: rotateX(90deg);
  opacity: 0;
}

.btnRecette:hover::after {
  transform: rotateX(0deg);
  opacity: 1;
}

.moitieeBrookie {
  position: absolute;
  left: -19rem;
  padding-top: 14.3rem;
  height: 880px;
}

/* section à definir 

*/

.aDefinir {
  align-content: center;
  padding: 3rem;
  margin-bottom: 5rem;
    margin-top: 5rem;

}
.aDefinir h2 {
  line-height: 200%;
}

/* SECTION JAUNE */
.containerJaune {
  height: 28rem;
  background-color: var(--jaune);
  align-content: center;
}
.faqContent {
  background-color: var(--jaune);
  align-content: center;
}

.jauneP {
  font-size: 4.5rem;
  color: var(--marronRouge);
  padding-left: 3rem;
  text-align: left;
  line-height: 79px;
}

.accordion-button {
  font-size: 2rem !important;
  color: var(--marronRouge) !important;
  background-color: var(--jaune) !important;
  transition: 1s;
}

.accordion-item {
  padding-left: 2rem;
  text-align: left;

  color: var(--marronFonce) !important;
  background-color: var(--jaune) !important;
  border: var(--bs-accordion-border-width) solid
    var(--bs-accordion-border-color);
}

/* SECTION PRODUIT */

.homeProduit {
  padding: 9rem 3rem 9rem 3rem;
}

.produitCard {
  border-top: var(--marronRouge) 2px solid !important;
  height: 20rem;
  text-align: center;
  background-color: var(--creme);
  margin-top: 5rem;
  cursor: pointer;
}

.produitCardBtn {
  font-size: 1rem;
  color: var(--jaune);
  border: var(--marronRouge) 1px solid;
  width: 10rem;
  background: transparent;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  justify-self: center;
}

/* SECTION CONTACT  */

.contactHome {
  /* height: 32rem; */
  background-color: var(--marronRouge);
  /* margin-top: 3rem;
  margin-bottom: 6rem; */
  /* justify-items: center; */
  position: relative;
}

.homeContactTitle {
  color: var(--creme);
  margin-top: 4rem;
}
/* .form-control:focus{
  color: var(--jaune) !important;
  border-color: var(--jaune) !important;
  box-shadow: #de9217 !important;
} */

@media (max-width: 425px) {
  .homeContactTitle {
    font-size: 3rem;
  }
  .phraseCategorie {
    text-align: center;
  }
}
.homeFormContact {
  display: flex;
  flex-direction: row-reverse;
}

@media (max-width: 800px) {
  .homeFormContact {
    display: flex;
    flex-direction: column;
  }
}
/* alert */

.email,
.message {
  font-size: 2rem !important;
  color: var(--creme) !important;
  margin-bottom: 1rem;
}

.messageInput {
  height: 6rem !important;
  color: var(--marronRouge) !important;
  background-color: var(--creme) !important;
  font-size: 1.2rem !important;
  margin-bottom: 2rem;
}
.emailInput {
  height: 3rem !important;
  color: var(--marronRouge) !important;
  background-color: var(--creme) !important;
  font-size: 1.2rem !important;
  margin-bottom: 2rem;
}

.homeBtnContact {
  color: var(--creme) !important;
  font-size: 1.6rem !important;
  height: 3rem;
  background: transparent;
  border: 3px solid #fff !important;
  padding: 12px 28px;
  border-radius: 50px !important;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  justify-self: center;
  font-size: 1.3rem;
}

.btnBackToTop {
  position: fixed;
  bottom: 0rem;
  font-size: 1rem;
  width: 5rem;
  display: flex;
  justify-self: end;
  margin: 2rem;
  background-color: var(--marronRouge);
  color: var(--creme);
  border: 2px solid var(--marronFroid);
}

/* BAS DE PAGE */

/* 
@keyframes scroll-left-2 {
  from {
    transform: translateX(1%);
  }
  to {
    transform: translateX(-50%);
  }
} */

@media (max-width: 448px) {
  .titleHome {
    height: 2rem !important;
    margin-top: 0rem !important;
  }
  .phraseDefilante {
    font-size: 1rem;
    margin: 1rem;
  }

  .btnCommander {
    height: auto;
    font-size: 1rem !important;
    margin-top: 2rem !important;
    padding: 7px !important;
  }

  .categorieUne {
    height: 15rem;
    font-size: 2rem;
  }
  .categorieDeux {
    height: 15rem;
    font-size: 2rem;
  }

  .sectionRecette {
    padding: 3rem !important;
  }

  .sectionRecetteContent {
    flex-direction: column;
  }
  .moitieeBrookie {
    height: 20rem !important;
    left: -15rem !important;
  }
  .home h1 {
    padding-top: 5rem;
    font-size: 3.2rem !important;
  }
}

@media (min-width: 991px) and (max-width: 1211px) {
  .categorieUne {
    font-size: 3rem;
  }
  .categorieDeux {
    font-size: 3rem;
  }
}
