.titrePageRecette {
  color: var(--creme);
      background-color: var(--jaune);

  font-size: 9rem;
  text-align: left;
  height: 18.4rem;
  padding-left: 1rem;
}

.phraseIntro {
  text-align: justify;
  margin-top: 7.8rem;
  margin-bottom: 14px;
}

/* 
@media (max-width: 992px) {
  .titrePageRecette {
    font-size: 5rem;
  }
} */

@media (max-width: 576px) {
  .introRecette {
    flex-wrap: wrap;
    width: 100%;
  }
  .titrePageRecette {
    font-size: 3.5rem;
  }
  .phraseIntro {
    width: 90rem;
    text-align: justify;
    align-self: center;
    margin: 0;
    margin-bottom: 2rem;
    width: 80%;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .titrePageRecette {
    font-size: 6rem;
  }
  .phraseIntro {
    font-size: 1rem;
  }
}

@media (min-width: 768px) and (max-width: 999px) {
  .introRecette {
    margin-bottom: 2rem;
    padding: 1rem;
  }
  .titrePageRecette {
    font-size: 5rem;
  }

  .phraseIntro {
    font-size: 0.6rem;
    margin-bottom: 14px;
    margin-left: 50px;
  }
}

@media (min-width: 998px) and (max-width: 1024px) {
  .introRecette {
    margin-bottom: 2rem;
  }
  .titrePageRecette {
    font-size: 7rem;
  }

  .phraseIntro {
    font-size: 1rem;
    margin-bottom: 14px;
  }
}

.phraseIntroDeux {
  margin-top: 6rem;
  margin-bottom: 6rem;
  font-size: 2rem;
  text-align: center;
}
.titreSection {
  color: var(--jaune);
  text-align: left;
  align-self: center;
  font-size: 3rem;
  margin-bottom: 1rem;
}
.pSection {
  text-align: justify;
  color: var(--marronRouge);
  margin-right: 0;
}

.modal-dialog {
  height: "auto";
  padding: "3rem" s;
}



@media (max-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
  }
}
.homeRecipesWrapper {
  position: relative;
  padding: 4rem 2rem;
  min-height: 100vh;
  overflow: hidden;
}

.homeRecipesTitle {
  position: sticky;
  top: 2rem;
  font-size: 4rem;
  color: var(--marronRouge);
  margin-bottom: 2rem;
  z-index: 10;
}

.homeRecipes {
  overflow: hidden;
}

.recetteContent {
  display: flex;
  gap: 4rem;
}

.recetteItem {
  min-width: 30rem;
  font-size: 1.6rem;
  flex-shrink: 0; /* obligatoire pour scroll horizontal */
}
