@media (min-width: 769px) {
  .navbar.navbar-expand-lg {
    justify-self: right;
  }
  .dropdown-menu {
    margin-left: 3rem !important;
    margin-top: 0 !important;
  }

  .ul.dropdown-menu-show {
    background-color: var(--creme);
    border: var(--jaune) 4px solid !important;
    width: 13.3rem;
  }
  .header {
  
    width: 100%;
   
  }
}

.offcanvas.offcanvas-start {
  background-color: var(--creme);
}

a.nav-link {
  justify-self: left;
  padding-left: 2rem;
}
/* 
.panier {
  margin-left: 2rem;
} */

.monheader,
li {
  padding: 0 0;
}
