
  header {
    display: flex;
    align-self: center;
    justify-self: center;
    padding-left: 13rem;
    padding-bottom: 1rem;
  }

  .maNav ul {
    width: 50rem;
    gap: 2rem;
  }

  .panier {
    display: flex;
    align-items: center;
    width: 35px;
    margin-top: 1rem;
    margin-left: 10rem;
  }

  :root a {
    color: #880a0cff;
    /* font-size: 1.4rem; */
    width: 8rem;
  }
/* 
  :root a:hover {
    color: rgb(222, 146, 23);
  } */

  :link {
    display: flex;
    text-decoration: none;
  }

  .monheader,
  li {
    list-style: none;
    padding: 0 0;
  }

  .monheader,
  ul {
    display: flex;
    justify-content: center;
    gap: 0.1rem;
    padding-top: 2rem;
  }