@media (min-width: 769px) {
  .navbar.navbar-expand-lg {
    justify-self: center;
  }
  .dropdown-menu {
    margin-left: 3rem;
  }

  .ul.dropdown-menu-show {
    background-color: #fefaef;
    border: rgb(222, 146, 23) 4px solid !important;
    width: 13.3rem;
  }
}

.offcanvas.offcanvas-start {
  background-color: var(--creme);
}

a.nav-link{
  justify-self: left;
  padding-left: 2rem;
}

.panier {
  margin-left: 2rem;
}

.monheader,
li {
  padding: 0 0;
}
