/* $speed: 0.5s;  */

.btnFlip {
  opacity: 1;
  outline: 0;
  color: #fff;
  line-height: 40px;
  position: relative;
  text-align: center;
  letter-spacing: 1px;
  display: inline-block;
  text-decoration: none;
  font-family: "Open Sans";
  text-transform: uppercase;

  .btnFlip:hover {
    .btnFlip:after {
      opacity: 1;
      transform: translateY(0) rotateX(0);
    }

    .btnFlip:before {
      opacity: 0;
      transform: translateY(50%) rotateX(90deg);
    }
  }

  .btnFlipafter {
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    color: #323237;
    display: block;
    transition: 0, 5;
    position: absolute;
    background: #adadaf;
    content: attr(data-back);
    transform: translateY(-50%) rotateX(90deg);
  }

  &:before {
    top: 0;
    left: 0;
    opacity: 1;
    color: #adadaf;
    display: block;
    padding: 0 30px;
    line-height: 40px;
    transition: 0, 5;
    position: relative;
    background: #323237;
    content: attr(data-front);
    transform: translateY(0) rotateX(0);
  }
}

@media (max-width: 425px) {
  .detailProduitContent {
    display: flex;
    flex-direction: column !important;
  }

  .detailProduitContent h3 {
    font-size: 2rem !important;
  }

  .produitPrix {
    margin-top: 18rem !important;
    margin-right: 2rem !important;
  }
  .btnAjout {
    height: 5rem !important;
    margin-top: 13rem !important;
  }

  .detailProduitImg {
    margin-left: 1rem !important;
    height: 200px !important;
    width: 200px !important;
  }
}

.detailProduitContent h3 {
  font-size: 3rem;
}

.detailProduitImg {
  justify-self: center !important;
  margin-left: 22rem;
  margin-top: 2rem;
  width: 460px;
  height: 460px;
}
