/* $speed: 0.5s;  */

.btnFlip {
  opacity: 1;
  outline: 0;
  color: #fff;
  line-height: 40px;
  position: relative;
  text-align: center;
  letter-spacing: 1px;
  display: inline-block;
  text-decoration: none;
  font-family: "Open Sans";
  text-transform: uppercase;

  .btnFlip:hover {
    .btnFlip:after {
      opacity: 1;
      transform: translateY(0) rotateX(0);
    }

    .btnFlip:before {
      opacity: 0;
      transform: translateY(50%) rotateX(90deg);
    }
  }

  .btnFlipafter {
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    color: #323237;
    display: block;
    transition: 0, 5;
    position: absolute;
    background: #adadaf;
    content: attr(data-back);
    transform: translateY(-50%) rotateX(90deg);
  }

  &:before {
    top: 0;
    left: 0;
    opacity: 1;
    color: #adadaf;
    display: block;
    padding: 0 30px;
    line-height: 40px;
    transition: 0, 5;
    position: relative;
    background: #323237;
    content: attr(data-front);
    transform: translateY(0) rotateX(0);
  }
}



.detailProduitImg {
  margin-left: 22rem;
  max-width: 460px;
  max-height: 460px;
}

.imgBtnAjout {
  display: flex;
  gap: 16rem;
}

@media (max-width: 426px) {
  .detailProduitContent {
    display: flex;
    gap: 1rem;
  }

  .detailProduitContent h2 {
    font-size: 2rem !important;
  }

  .produitPrix {
    margin-right: 2rem !important;
  }

  .btnAjout {
    height: 5rem !important;
    margin-top: 13rem !important;
  }

  .detailProduitImg {
    margin-left: 3rem !important;
    height: 200px !important;
    width: 200px !important;
    border: 1px solid var(--jaune);
  }

  .descBtn {
    flex-direction: column;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .detailProduitImg {
    margin-top: 4rem !important;
    height: 300px !important;
    margin-left: 13rem !important;
  }

  .btnAjout {
    margin-top: 5rem !important;
    height: 15rem !important;
  }
  .imgBtnAjout {
    display: flex;
    gap: 2rem !important;
  }

  .descBtn {
    gap: "1rem";
  }
}

@media (min-width: 1020px) and (max-width: 1200px) {
  .detailProduitImg {
    margin-left: 18rem !important;
    margin-top: 5rem;
    max-width: 460px;
    max-height: 460px;
  }
  .imgBtnAjout {
    gap: 6rem !important;
    padding-top: 5rem !important;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .detailProduitImg {
    padding-top: 1rem !important;
    max-width: 460px;
    max-height: 460px;
  }
  .btnAjout {
    height: 25rem;
    margin-top: 2rem;
  }
  .detailProduitContent h2{
    font-size: 2.5rem !important;
  }
}

@media (min-width: 1440px) {
  .detailProduitImg {
    margin-left: 32rem;
    margin-top: 2rem;
    max-width: 460px;
    max-height: 460px;
  }
  .imgBtnAjout {
    padding-top: 5rem !important;
    gap: 18rem;
  }
}
