/* @media (min-width: 768px) {
  .titlePageProduit {
    font-size: 8rem !important;
  }
}
.titlePageProduit {
  font-size: 7rem !important;
}

@media (min-width: 580px) and (max-width: 768px) {
  .titlePageProduit {
    font-size: 4rem !important;
  }
}

@media (min-width: 390px) {
  .titlePageProduit {
    font-size: 4rem;
    padding-bottom: 0.7rem;
  }

  .introPageProduit {
    font-size: 0.7rem;
  }
}

@media (max-width: 390px) {
  .titlePageProduit {
    font-size: 3.5rem !important;
    padding-bottom: 0rem;
  }
  .introPageProduit {
    font-size: 0.8rem !important;
  }
} */
/* 
.enteteProduit {
  justify-self: center;
  background-color: var(--marronRouge);
  text-align: left;

} */

.titlePageProduit{
  font-size: 9rem !important;
}

.introPageProduit {
  color: var(--marronRouge);
  font-size: 1rem;
  margin: 3rem;
  text-align: center;
}



.sectionCookie, .sectionBrookie {
  margin-bottom: 5rem;
  margin-top: 3.5rem;
}
.produitContainer2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  padding: 2rem;
}

.produit2 {
  border: var(--rouge) 2px solid;
  background-color: var(--creme) !important;
  justify-content: center;
  width: 15rem;
  height: 22rem;
}

.titreProduit2 {
  display: flex;
  justify-self: center;
  margin: 0;
}

.prixBtn {
  display: flex;
  align-content: center;
  justify-self: center;
  gap: 3rem;
  margin-top: 1rem;
}
.btnDetail {
  align-items: center;
  font-size: 0.8rem;
  color: var(--jaune);
  border: #976658ff 2px solid;
  height: 2rem;
  width: 5rem;
  margin-top: 0.2rem;
}

.btnNavCookies {
  justify-content: left;
}
