.titlePageProduit {
  font-size: 9.5rem !important;
}

@media (max-width: 448px) {
  .titlePageProduit {
    font-size: 3.3rem !important;
  }
}

@media (min-width: 448px) and (max-width: 825px) {
  .titlePageProduit {
    font-size: 6rem !important;
  }
}

.introPageProduit {
  color: var(--marronRouge);
  font-size: 1rem;
  margin: 7rem;
  text-align: center;
}

.sectionCookie,
.sectionBrookie {
  margin-bottom: 5rem;
  margin-top: 3.5rem;
}
.produitContainer2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  padding: 2rem;
}

.produit2 {
  border: var(--rouge) 2px solid;
  background-color: var(--creme) !important;
  justify-content: center;
  width: 15rem;
  height: 22rem;
}

.titreProduit2 {
  display: flex;
  justify-self: center;
  margin: 0;
}

.prixBtn {
  display: flex;
  align-content: center;
  justify-self: center;
  gap: 3rem;
  margin-top: 1rem;
}
.btnDetail {
  align-items: center;
  font-size: 0.8rem;
  color: var(--jaune);
  height: 2rem;
  margin-top: 0.2rem;
  position: relative;
  display: inline-block;
  width: 6rem;
  perspective: 600px;
  border: none;
  background: transparent;
  cursor: pointer;
  letter-spacing: 1px;
}

/* faces */
.btnDetail::before,
.btnDetail::after {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  transition:
    transform 0.5s ease,
    opacity 0.5s ease;
  backface-visibility: hidden;
}

/* face avant */
.btnDetail::before {
  content: attr(data-front);
  background: var(--marronRouge);
  color: var(--creme);
  transform: rotateX(0deg);
  opacity: 1;
}

/* face arrière */
.btnDetail::after {
  content: attr(data-back);
  background: var(--creme);
  color: var(--marronRouge);
  transform: rotateX(-90deg);
  opacity: 0;
  border: var(--marronRouge) 2px solid;
}

/* hover flip */
.btnDetail:hover::before {
  transform: rotateX(90deg);
  opacity: 0;
}

.btnDetail:hover::after {
  transform: rotateX(0deg);
  opacity: 1;
}

.btnNavRecette {
  border: 2px solid var(--marronRouge);
  color: #fff;
  border-radius: 30px;
  height: 3rem;
  width: 15rem !important;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center !important;
  font-size: 1.3rem;
}

.btnNavRecette:hover {
  background: var(--marronRouge);
  color: var(--creme);
}

.btnNavCookies {
  border: 2px solid var(--marronRouge);
  color: #fff;
  border-radius: 30px;
  height: 3rem;
  width: 15rem !important;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center !important;
  font-size: 1.3rem;
}

.btnNavCookies:hover {
  background: var(--marronRouge);
  color: var(--creme);
}
