@media (min-width: 768px) {
  .titlePageProduit {
    font-size: 8rem !important;
  }
}
.titlePageProduit {
  font-size: 7rem !important;
}

@media (min-width: 580px) and (max-width: 768px) {
  .titlePageProduit {
    font-size: 4rem !important;
  }
}

@media (min-width: 390px) {
  .titlePageProduit {
    font-size: 4rem;
    padding-bottom: 0.7rem;
  }

  .introPageProduit {
    font-size: 0.7rem;
  }
}

@media (max-width: 390px) {
  .titlePageProduit {
    font-size: 3.5rem !important;
    padding-bottom: 0rem;
  }
  .introPageProduit {
    font-size: 0.8rem !important;
  }
}

.enteteProduit {
  padding: 2rem;
  justify-self: center;
  background-color: var(--marronRouge);
  text-align: left;
    padding-bottom: 2rem;

}

.sectionTitleCookie,
.sectionTitleBrookie {
  color: var(--creme);
  font-size: 2.3rem;
  /* border: black 3px solid; */
  display: flex;
  width: 50%;
  height: 4rem;
  align-items: center;
  justify-content: right;
  padding-right: 2rem;
  margin-bottom: 2rem;
}

.produitContainer2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  gap: 4rem;
  padding: 2rem;
}

.produit2 {
  border: var(--rouge) 3px solid;
  background-color: var(--creme) !important;
  width: 15rem;
  height: 22rem;
}

.btnDetail {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  font-size: 0.8rem;
  color: var(--jaune);
  border: #976658ff 2px solid;
  width: 6rem;
  height: 2rem;
}

.btnNavCookies{
justify-content: left;}